MOTHERDUCK_TOKEN=""

AMEX_USERNAME=""
AMEX_PASSWORD=""
AMEX_ACCOUNT_KEY=""
GITHUB_API_TOKEN=""
NOTION_API_TOKEN=""
OURA_CLIENT_ID=""
OURA_CLIENT_SECRET=""
PURE_GYM_USERNAME=""
PURE_GYM_PASSWORD=""
GOOGLE_API_PROJECT_ID=""
GOOGLE_API_CLIENT_ID=""
GOOGLE_API_CLIENT_SECRET=""

GOOGLE_SHEETS__MONZO_TRANSACTIONS_ID=""
GOOGLE_SHEETS__MONZO_TRANSACTIONS_PERSONAL=""
GOOGLE_SHEETS__MONZO_TRANSACTIONS_JOINT=""
GOOGLE_SHEETS__FINANCES_ID=""
GOOGLE_SHEETS__FINANCES_LOG=""
GOOGLE_SHEETS__FINANCES_PAYMENT_METHODS=""
GOOGLE_SHEETS__FINANCES_HISTORY_ID=""
GOOGLE_SHEETS__FINANCES_HISTORY_NAME=""
