MOTHERDUCK_TOKEN=""
GITHUB_API_TOKEN=""
NOTION_API_TOKEN=""
AMEX_USERNAME=""
AMEX_PASSWORD=""
AMEX_ACCOUNT_KEY=""
PURE_GYM_USERNAME=""
PURE_GYM_PASSWORD=""
GOOGLE_SHEETS__MONZO_TRANSACTIONS_ID=""
GOOGLE_SHEETS__MONZO_TRANSACTIONS_NAME=""
GOOGLE_SHEETS__FINANCES_ID=""
GOOGLE_SHEETS__FINANCES_NAME=""
GOOGLE_SHEETS__FINANCES_HISTORY_ID=""
GOOGLE_SHEETS__FINANCES_HISTORY_NAME=""
